.ui.borderless.topmenu.container.menu{
  box-shadow: none;
  border: none;
  margin: 0px;
}

.ui.borderless.topmenu.container.menu a{
  color: #000;
}

.vid-background {
  background: url(http://cwsmgmt.corsair.com/responsive/img/Corsair_Elite_Loop_v05.jpg) no-repeat center center fixed;
  background-size: cover;
  height: auto;
  width: 100%;
  margin: 0px;
}

.black-background {
  background-color: black;
  color: whitesmoke;
  height: 200px;
}

.yellow-background {
  background-color: #f0cf1e;
  color: black;
  height: 200px;
}

.down-arrow{
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  left: 0;
  right: 0;
  cursor: pointer;
  height: 6em;
  fill: #f0cf1e;
  padding-bottom: 10px;
}

.yellow-background-line {
  background-color: #f0cf1e;
  height: 3px;
}


.corsair-logo img {

  width:170px;

  padding-top:0px;
  padding-right:8%;
}

#footer h4{
  color: #f0cf1e;
}

#footer p, a{

  font-weight: 300;
  letter-spacing: 0.1em;

}

#six-column-grid-container a{
  color: whitesmoke;
}

.bottom-of-div a, p{
  color: whitesmoke;
}

.bottom-of-div{
  margin: 0px;
}

#bottom-of-div-menu{
  box-shadow: none;
  border: none;
}
#bgvid{

position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
}